<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<div id="map"></div>


<script>
  L.mapbox.accessToken = 'YOUR PUBLIC ACCESS TOKEN HERE';
  var map = L.mapbox.map('map', 'mapbox.streets') // default: map.streets
      .setView([40, -74.50], 2); // ([coordinates], zoom level)

  var myLocations = L.mapbox.featureLayer()
      .loadURL('JSON_URL_HERE') // example: /places.json
      .addTo(map)
</script>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>